<ion-content padding>
  <div class="login-page">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="10" size-lg="8" size-xs="12">
          <div padding>

            <span color="primary" class="txt-head"><strong>Robot Toy Simulator</strong></span>
            
          </div>
          <br>



          <div class="login-form">

            <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>

              <div padding>
                <ion-item lines="none">
                  <ion-input formControlName="userInput" type="text" placeholder="Command"></ion-input>

                </ion-item>

                <div *ngIf="this.showError" class="login-error">
                  <span>
                    False move : Robot out of table
                  </span>
                </div>
              </div>

              <div class="btn-group">
                <ion-button size="large" (click)="this.reset()" expand="block" color="danger">Reset</ion-button>


                <ion-button size="large" type="submit" expand="block">Execute</ion-button>
              </div>



             
            </form>

          </div>
        </ion-col>
      </ion-row>

      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="10" size-lg="8" size-xs="12">

      <div class="list">
        <div class="item item-divider">REPORT</div>
        <div *ngFor="let action of this.robot.actions" class="item">
          <ion-item>{{action}}</ion-item>
        </div>
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  </div>

</ion-content>